<%= content_tag_for :article, @sound do %>
<header>
    <h2><%= @sound.name %></h2>
    <section id="functions">
    <%= link_to 'Back', sounds_path %> |
    <%= link_to 'Edit', edit_sound_path(@sound) %> |
    <%= link_to 'Destroy', @sound, :confirm => 'Are you sure?', :method => :delete %>

    </section>
</header>


<p>
 <ul class="playlist">
    <li><a href="<%= @sound.sound %>">Listen <%= @sound.name %></a></li>
  </ul>
</p>


<p class="description">
  <%= @sound.description %>
</p>




<footer>
    added by <%= @sound.user %> <%= time_ago_in_words(@sound.created_at) %> ago
</footer>


<% end %>

<div id="sm2-container"> 
<!-- SM2 flash movie goes here --> 
</div> 

<div id="control-template">
  <!-- control markup inserted dynamically after each link -->
  <div class="controls">
   <div class="statusbar">
    <div class="loading"></div>
     <div class="position"></div>
   </div>
  </div>
  <div class="timing">

   <div id="sm2_timing" class="timing-data">
    <span class="sm2_position">%s1</span> / <span class="sm2_total">%s2</span></div>
  </div>
  <div class="peak">
   <div class="peak-box"><span class="l"></span><span class="r"></span>
   </div>
  </div>

 </div>

 <div id="spectrum-container" class="spectrum-container" style="display:none;">
        <div class="spectrum-box">
                <div class="spectrum"></div>
        </div>
</div> 
