<!DOCTYPE html>
<html>
<head>
  <title>Sounds</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js" %>
  <%= javascript_include_tag "rails" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
   <div id="wrap">
        <div id="main">
            <header id="page_header">
                <nav id="user_nav">
                    <menu id="user_menu">
                        <% if user_signed_in? %>
                            <li>Hi, <%= link_to current_user, edit_user_registration_path %>!</li>
                            <li>Is not you? <%= link_to 'Log Out', destroy_user_session_path %></li>
                        <% else %>
                            <li><%= link_to 'Log In', new_user_session_path %></li>
                            <li><%= link_to 'Register', new_user_registration_path %></li>
                        <% end %>
                    </menu>
                </nav>
            </header>
            
            <section id="notifications">
                <% unless notice.blank? %>
                    <p class="notice"><%= notice %></p>
                <% end %>
                <% unless alert.blank? %>
                    <p class="alert"><%= alert %></p>
                <% end %>
            </section>

            
            <aside id="side_panel">
                <nav id="app_nav">
                    <menu id="application_menu">
                        <li><%= link_to 'Home', root_path %></li>
                        <li><%= link_to 'Sounds', sounds_path %></li>
                    </menu>
                </nav>
            </aside>

            
            <section id="page_content">
                <%= yield %>
            </section>

      </div>
    </div>
    <footer id="page_footer">
    </footer>
    
</body>
</html>

