<!DOCTYPE html>
<html>
<head>
  <title>Sounds</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js" %>
  <%= javascript_include_tag "rails" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  

  <%= stylesheet_link_tag "/soundmanager2/css/flashblock.css" %>
  <%= stylesheet_link_tag "/soundmanager2/css/page-player.css" %>

  <%= javascript_include_tag "/soundmanager2/script/soundmanager2-nodebug-jsmin.js" %>
  <%= javascript_include_tag "/soundmanager2/script/flashblock.js" %>
  <%= javascript_include_tag "/soundmanager2/script/page-player.js" %>
  
  <script type="text/javascript">
    soundManager.url = '/soundmanager2/swf/';
    soundManager.flashVersion = 9; // optional: shiny features (default = 8)
    soundManager.useFlashBlock = true; // optionally, enable when you're ready to dive in
    // enable HTML5 audio support, if you're feeling adventurous.
    // soundManager.useHTML5Audio = true;
    
  var PP_CONFIG = {
    flashVersion: 9,       // version of Flash to tell SoundManager to use - either 8 or 9. Flash 9 required for peak / spectrum data.
    usePeakData: true,     // [Flash 9 only] whether or not to show peak data (no notable CPU cost)
    useWaveformData: true  // [Flash 9 only] show raw waveform data. WARNING: Experimental, likely CPU-heavy
  }
    
  </script>  
  
</head>
<body>
   <div id="wrap">
        <div id="main">
            <header id="page_header">
                <nav id="user_nav">
                    <menu id="user_menu">
                        <% if user_signed_in? %>
                            <li>Hi, <%= link_to current_user, edit_user_registration_path %>!</li>
                            <li>Is not you? <%= link_to 'Log Out', destroy_user_session_path %></li>
                        <% else %>
                            <li><%= link_to 'Log In', new_user_session_path %></li>
                            <li><%= link_to 'Register', new_user_registration_path %></li>
                        <% end %>
                    </menu>
                </nav>
            </header>
            
            <section id="notifications">
                <% unless notice.blank? %>
                    <p class="notice"><%= notice %></p>
                <% end %>
                <% unless alert.blank? %>
                    <p class="alert"><%= alert %></p>
                <% end %>
            </section>

            
            <aside id="side_panel">
                <nav id="app_nav">
                    <menu id="application_menu">
                        <li><%= link_to 'Home', root_path %></li>
                        <li><%= link_to 'Sounds', sounds_path %></li>
                    </menu>
                </nav>
            </aside>

            
            <section id="page_content">
                <%= yield %>
            </section>

      </div>
    </div>
    <footer id="page_footer">
    </footer>
    
</body>
</html>

